:root {
    --cor-primaria: #0ec0c1;
    --cor-secundaria: #d21515;    
    --cor-clara: #fef7d5;
    --cor-fundo-preto: #040203;    
    --cor-fundo-escura: #00253a; 
    --cor-fundo: #003554;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }
